* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('./img/logo.png');
}

.formulario-registro {
    width: 400px;
    background: #24303C;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    color: white;
    letter-spacing: 1px;
    text-align: center;
    box-shadow: 7px 13px 37px #000;
}

.formulario-registro h4 {
    font-size: 22px;
    margin-bottom: 20px;   
}

.controles {
    width: 100%;
    background-color: #24303C;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.formulario-registro p {
    height: 40px;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
}

.formulario-registro a {
    color: white;
    text-decoration: none;
}

.formulario-registro a:hover {
    color: white;
    text-decoration: underline;
}

.formulario-registro .boton {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}